<section class="">
    <h2 class="">Barra de progreso interactiva</h2>

    <input
        type="range"
        min="0"
        max="100"
        class="w-80 accent-blue-600"
        (input)="actualizarProgreso($event)"
    >

    <div class="relative w-80 h-6 bg-gray-200 rounded-full overflow-hidden shadow-inner">
        <div
            class="h-full transition-all duration-500"
            [style.width.%]="progreso()"
            [class]="progreso() >= 70 ? 'bg-green-400': progreso() > 40 ? 'bg-yellow-400' : 'bg-red-400'"
        
        ></div>
    </div>

    <p class="">
        Progreso: {{ progreso() }}%
    </p>
</section>